.admin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
    background-image: url('../src/assets/images/Authentification-admin.png');

}
.access {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Place it behind other content */
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire container */
}
.acceuilbg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.acceuil {
    background-color: #eae6ef;
   
    width: 300px;
    padding: 20px;
    position: relative;
    text-align: center;
    border-radius: 8px;
    

}

.participant {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
    background-image: url('../src/assets/images/inscription-participant.png');
    
}

.authentification{
    background-color: rgb(27, 26, 28);
   


    
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    
}

.authentification form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:100%;
}

.authentification label {
    margin-bottom: 5px;
    text-align: left;
    color: white;
}
.form-control label {
    margin-bottom: 5px;
    color: rgb(23, 22, 24);
}

.authentification input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #dddfe2;
}
.centred_table {
    text-align: center;
    width : 100%;
    border: 1px solid black;
    
   

}
/*.table_participants th, .formatteur {
    text-align: center;
    border: 1px solid black;
    width : 100%;
    
}

.table_participants th + th {
    border-left: none; 
    border : 1px solid black ;
    border-collapse: collapse;
}
*/


#submit {
    padding: 10px;
    border-radius: 4px;
    border: none;
    color: rgb(57, 216, 25);
    background-color: #4CAF50; 
    cursor: pointer;
}

#reset {
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #f32516; 
}

.table_participants {
    width: 100%;
    
    /*border-collapse: collapse;*/
  }
  .table_participants th {
    /*background-color: #f2f2f2;*/
    padding: 8px;
    border: 1px solid black; 
    border-left: none;/* Adds a border to all sides */
  }
  /*th + th , th + td, td + th {
    border-left: none ;/* Removes the left border between adjacent th elements 
  }*/
  .direction {
    display: flex;
    align-items: flex-start;
    border-left: none;
  }
  .centred_table td ,  th{
    
    
    border: 1px solid black;
}


  